body,
html,
.columns {
    margin: 0;
    height: 100%;
}

.columns {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.can {
    padding: 1px;
}

.number {
    padding: 300px 0 100px 0;
    text-align: center;
    font-size: 150px;
    color: rgba(0, 0, 0, 0.3);
    -webkit-text-stroke: 3px rgb(255, 255, 255);
    margin-bottom: 45px;
}

.button {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    color: whitesmoke;
    font-size: 30px;
    padding: 10px 0;
    margin-bottom: 15px;
    display: none;
}